mode = "dark"

accent = "{{color4}}"
cursor = "{{cursor}}"

foreground = "{{foreground}}"
background = "{{background}}"

selection_foreground = "{{background}}"
selection_background = "{{foreground}}"

bg = "{{background}}"
lighter_bg = "{{background | lighten(0.15)}}"
dark_bg = "{{background | darken(0.1)}}"
darker_bg = "{{background | darken(0.2)}}"

fg = "{{foreground}}"
light_fg = "{{foreground | lighten(0.1)}}"
bright_fg = "{{foreground | lighten(0.2)}}"
dark_fg = "{{foreground | darken(0.2)}}"
muted = "{{color8}}"
selection = "{{foreground}}"

red = "{{color1}}"
green = "{{color2}}"
yellow = "{{color3}}"
blue = "{{color4}}"
magenta = "{{color5}}"
cyan = "{{color6}}"
orange = "{{color3 | lighten(0.1)}}"
brown = "{{color1 | darken(0.1)}}"

bright_red = "{{color9}}"
bright_green = "{{color10}}"
bright_yellow = "{{color11}}"
bright_blue = "{{color12}}"
bright_magenta = "{{color13}}"
bright_cyan = "{{color14}}"

color0 = "{{color0}}"
color1 = "{{color1}}"
color2 = "{{color2}}"
color3 = "{{color3}}"
color4 = "{{color4}}"
color5 = "{{color5}}"
color6 = "{{color6}}"
color7 = "{{color7}}"
color8 = "{{color8}}"
color9 = "{{color9}}"
color10 = "{{color10}}"
color11 = "{{color11}}"
color12 = "{{color12}}"
color13 = "{{color13}}"
color14 = "{{color14}}"
color15 = "{{color15}}"
