[Unit]
Description=ChocoMazapan Battery Monitor Timer
Requires=chocomazapan-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
